.Rproj.user
.Rhistory
.RData
.Ruserdata
*.pdf
private/
gap_filled_publication/
_targets/objects/
_targets/workspaces/
renv/library/
renv/active/
renv/staging/
temp/
*.aux
*.bbl
*.blg
*.log
*.toc
*.tar.gz
irp-paper.tex
irp-supporting-info.tex
